<div class="container">
        <div class="logincard card card-container">
            <img id="profile-img" class="profile-img-card" src="./assets/img/logo.png" />
			<p id="profile-name" class="profile-name-card">Forgot Password</p>
			<div class="alert alert-danger" role="alert" *ngIf = "errDiv">{{message}}</div>
			<div class="alert alert-success" role="alert" *ngIf = "successDiv">{{message}}</div>
			<form class="form-signin">	
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" [(ngModel)]="email" name="email"  class="form-control" placeholder="Email address">
				<!-- <button class="btn btn-lg btn-primary" type="submit">Sign in</button> -->
				<button type="button" class="btn btn-primary" (click) = "submit()">Submit</button>
            </form><!-- /form -->
            <a [routerLink]="['/']" class="forgot-password">
                Back
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
