/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800');
body{
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}
.time-barWrapper{
  background-color: #f3f3f3;
}
.time-barWrapper p{
    color: #7a7a7a;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    text-align: right;
    display: flex;
    align-items: center;
    min-height: 45px;
    float: right;
}
.col-sm-3.sidebarlft{
    position: relative;
}
.sidebarlft .sidebar::-webkit-scrollbar-track{
	-webkit-box-shadow: none;
	background-color: #cecece;
}

.sidebarlft .sidebar::-webkit-scrollbar{
	width: 8px;
	background-color: #F5F5F5;
}

.sidebarlft .sidebar::-webkit-scrollbar-thumb{
	-webkit-box-shadow: none;
	background-color: #777777;
}

.sidebarlft .sidebar{
    background-color: #ededed;
}
.sidebarrght{
    padding-top: 151px;
    padding-bottom: 40px;
}
.custom-nav.topnav{
  height: 106px;
  padding: 0;
  background-color: #383838;
}
.admin-logo{
    height: 106px;
    background-color: #ffffff;
    padding: 0 15px;
    display: table-cell;
    vertical-align: middle;
}
.admin-logo img{
    max-width: 100%;
}
.header-leftS{
    float: left;
}
.title-headerA{
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    height: 106px;
}
.title-headerA h1{
    font-size: 28px;
    color: #fff;
    margin: 0;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}
.title-headerA p{
    font-size: 16px;
    color:#797979;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
.mrt30Rghtnav{
    margin-top: 30px;
}
.mrt30Rghtnav .nav-link .fa{
    width: 35px;
    height: 35px;
    background-color: #f0f0f0;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 20px;
    line-height: 34px;
}
.navbar-dark .mrt30Rghtnav.navbar-nav .nav-link{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color:#fff;
}
.mrt30Rghtnav .nav-link .fa:before{
  color: #787878;
}
.custom-nav.topnav .mrt30Rghtnav.top-right-nav .dropdown-menu{
    top:74px;
    border-radius: 0;
}
.custom-nav.topnav .mrt30Rghtnav.top-right-nav .dropdown-menu li a.dropdown-item{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color:#787878;
}
.sidebarlft .sidebar .list-group li{
    border-bottom: 1px solid #cecece;
}
.sidebarlft .sidebar .list-group a.list-group-item {
    background: #ededed;
    margin-bottom: 0;
    color: #4b4a4a;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 0 25px;
    position: relative;
    height: 74px;
    display: flex;
    align-items: center;
}
.sidebarlft .sidebar .list-group a.list-group-item.router-link-active{
    background: #de1922;
    color: #fff;
}
.sidebarlft .sidebar .list-group a.list-group-item.router-link-active:after {
    content: "";
    width: 0;
	height: 0;
	border-top: 38px solid #fff;
    border-left: 12px solid #de1922;
    border-bottom: 38px solid #fff;
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.sidebarlft .sidebar .list-group a.list-group-item.router-link-active:before {
    content: "";
    width: 0;
	height: 0;
	border-top: 36px solid #de1922;
    border-left: 12px solid #fff;
    border-bottom: 36px solid #de1922;
    position: absolute;
    left:0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.sidebarlft .sidebar .list-group li:last-child{border-bottom: 0;}
.text-muted, h2.page-header{
    color: #4c4a4b;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 30px 0 15px 0;
}
.btncmn.btn-primary, .btncmn.btn-secondary {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    border-radius: 0;
}
.btncmn.btn-primary{
    color: #fff;
    background-color: #de1922;
    border-color: #de1922;
}
.btncmn.btn-primary:hover, 
.btncmn.btn-primary:focus, 
.btncmn.btn-primary.active:focus, 
.btncmn.btn-primary.active.focus {
    color: #555;
    background-color: #fff;
    border-color: #de1922;
}
ol.breadcrumb{
    border-radius: 0;
}
.breadcrumb > li{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}
.breadcrumb > li a{
    color: #de1922;
}
.btn-add-Bx{
    background-color: #777777;
    padding: 25px 0;
    min-height: 86px;
    position: relative;
}
.btn-addC.btn-primary{
    float: right;
    color: #f3f3f3;
    background-color: #777777;
    border-color: #f3f3f3;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0;
}
.btn-addC.btn-primary:hover, 
.btn-addC.btn-primary:focus, 
.btn-addC.btn-primary.active:focus, 
.btn-addC.btn-primary.active.focus {
    color: #fff;
    background-color: #de1922;
    border-color: #de1922;
}
.btn-add-Bx:before {
    content: "";
    width: 30px;
	height: 86px !important;
    position: absolute;
    left: -30px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: #777777;
}
.btn-add-Bx:after {
    content: "";
    width: 200%;
	height: 86px !important;
    position: absolute;
    right: -200%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: #777777;
}
.flt-rght{float: right;}
.table-blockBx .table{
  border:1px solid #cfcfcf;
}
.table-blockBx .table th{
    border-top-color: #cfcfcf;
    border-bottom:1px solid #cfcfcf;
    color: #454343;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.table-blockBx .table tbody th{
    border-bottom-color: transparent;
    border-top-color: transparent;
}
.table-blockBx .table tbody tr:last-child th{
    border-bottom:1px solid #cfcfcf;
}
.table-blockBx .table td{
    border-right:1px solid #cfcfcf;
    border-top-color: transparent;
    font-size: 15px;
    color: #454343;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.table-blockBx .table td:nth-child(1),
.table-blockBx .table th:nth-child(1){text-align: left;}
.table-blockBx .table td:nth-child(2),
.table-blockBx .table th:nth-child(2){text-align: left;}
.table-blockBx .table td a{
    color: #de1922;
}
.table-blockBx .table td a .fa{font-size: 17px;}
input.form-control, select.form-control {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    border: 1px solid #cfcfcf;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
input.form-control:focus, select.form-control:focus{border-color: #777777;}
ul.ngx-pagination{
    margin: 0;
    padding: 0;
}
ul.ngx-pagination li{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}
ul.ngx-pagination .current {
    background: #de1922;
}
.form-group label, .cre-bxtp .radio label{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #868686;
}
.form-group label span {
    color: #cc062d;
}
.cre-bxtp{
    border: 1px solid #cfcfcf;
    padding: 20px;
    margin-bottom: 25px;
}
.borcard0.card, .borcard0 .card-footer:last-child{
    border-radius: 0; 
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}
.card-container.card.logincard{
    background-color: #efefef;
}
.card-container.card.logincard .profile-name-card{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #454343;
    font-weight: 700;
    margin-bottom: 15px;
}
.card-container.card.logincard .logo-card{height: auto;}
.card-container.card.logincard .btncmn:hover,
.card-container.card.logincard .btncmn:active,
.card-container.card.logincard .btncmn:focus{
   color: #fff;
}
.table-blockBx .table tr:last-child td[align="center"]{
  text-align: center;
}

@media only screen and (min-width: 769px)  {
    .sidebarlft .sidebar{
        top:106px;
        left: auto;
        width: 255px;
        margin-left: 0;
    }
    #toggle-sidebar {
        display: none;
    }

}
@media only screen and (max-width: 1200px)  {
    .sidebarlft .sidebar{width: 205px;}
    .sidebarlft .sidebar .list-group a.list-group-item{font-size: 16px;}

}

@media only screen and (max-width: 991px){
    .sidebarlft .sidebar {width: 152px;}
    .sidebarlft .sidebar .list-group a.list-group-item{font-size: 15px;}
    .btn-add-Bx:before, .btn-add-Bx:after{
        display: none;
    }
    .btn-add-Bx {
        padding: 15px;
        min-height: 68px;
    }
    .time-barWrapper p {
        font-size: 14px;
        line-height: 16px;
    }
}

@media only screen and (max-width: 768px)  {
    .col-sm-3.sidebarlft{width: 100%;}
    .col-sm-9.sidebarrght{width: 100%;}
    .custom-nav.topnav {height: 60px;}
    .title-headerA{ height: 60px;}
    .title-headerA h1{font-size: 18px;}
    .title-headerA p{font-size: 12px;}
    .admin-logo {height: 60px; padding: 0 5px;}
    .admin-logo img {max-width: 80%;}
    .sidebarlft #toggle-sidebar{height: 60px; border-radius: 0px; left: 0px;}
    .sidebarrght {padding-top: 104px; padding-bottom: 30px;}
    .sidebarlft .sidebar{top:60px;}
    .sidebarlft .sidebar .list-group a.list-group-item {font-size: 14px; padding: 10px 15px; height: auto;}
    .sidebarlft .sidebar .list-group a.list-group-item.router-link-active:before,
    .sidebarlft .sidebar .list-group a.list-group-item.router-link-active:after{
        display: none;
    }
    .text-muted, h2.page-header {font-size: 20px; margin-top: 20px;}
    .custom-nav .col-sm-3{width: 40%; float: left;}
    .custom-nav .col-sm-9{width: 60%; float: left;}
    .sidebarlft .sidebar {width: 180px;}
   


}
@media only screen and (max-width: 576px)  {
    .btn-add-Bx {margin: 0 -15px;}
    .admin-logo img {max-width:100%;}
    .time-barWrapper p {font-size: 12px;}

}