<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">
			<h2 class="page-header">Manage Users</h2>
			<ol class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a
					href="Javascript:void(0);" routerLink="/dashboard/home">Dashboard</a>
				</li>
				<li class="active"><i class="fa fa-table"></i> Users</li>
			</ol>
		</div>
	</div>
	<div class="row">
	<div class="col-lg-6">
		<fieldset class="form-group"> 
			<a class="btn btn-primary" [routerLink]="['/dashboard/users/edit/','']">Add User</a>
		</fieldset>
		<fieldset class="form-group"> 
			<input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Search.." /> 
		</fieldset>
	  
    </div>
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-xl-12 col-lg-12">
			<h4>{{title}}</h4>
			<div class="card card-block">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th (click)="sort('name')">Name<span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
								<th (click)="sort('email')"><span class="glyphicon sort-icon" *ngIf="key =='email'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>Email</th>
								<!-- <th (click)="sort('phone')">Contact No.<span class="glyphicon sort-icon" *ngIf="key =='phone'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th> -->
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of items | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
								<th scope="row">{{((p -1 ) * 10) + i +1}}</th>
								<td>{{item.first_name}} {{item.last_name}}</td>
								<td>{{item.email}}</td>
								<!-- <td *ngIf="item.phone">{{item.phone}}</td>
								<td *ngIf="!item.phone">N/A</td> -->
								<td>
									<!-- <span class="label label-danger" *ngIf="item.blocked">Blocked</span>
								    <span class="label label-success" *ngIf="!item.blocked">Active</span> -->
								    <span class="label label-success" *ngIf="item.status[0] === 'active'">Active</span>
								    <span class="label label-warning" *ngIf="item.status[0] === 'inactive'">Inactive</span>
								    <span class="label label-danger" *ngIf="item.status[0] === 'block'">Block</span>
								</td>
								<td>
                 					<a [routerLink]="['/dashboard/users/edit/',item._id]">Edit</a>
							   		 | <a href="javascript:" (click)="deleteUser(item._id,i)">Delete</a>
								 	<!--  | <a href="javascript:" (click)="BlockUser(item._id,i)">Block</a></td> -->
							</tr>
							<tr *ngIf="items.length <= 0">
							   <td colspan="7"  align="center">No record(s) found</td>	
							</tr>	
						</tbody>
					</table>
					<pagination-controls (pageChange)="p = $event"></pagination-controls>
				</div>
			</div>
		</div>
	</div>
</div>